script(src='/bower_components/wysihtml/dist/wysihtml5x-toolbar.min.js')
script(src='/bower_components/wysihtml/parser_rules/advanced_unwrap.js')
script(src='/vendor/chosen/chosen.jquery.min.js')
link(rel='stylesheet', href='/vendor/chosen/chosen.min.css')
script(src='/javascripts/admin.js')
