extends layout

block mainContent
    script(src='/javascripts/amia.js')
    #loading
      .container
        h1 Mapa AMIA
        p Sitio informativo sobre el caso AMIA. 
        .row
          .six.columns
            p
              img(src="/images/icon-scroll.png", alt="Mouse Scroll")
            h2 Zoom
          .six.columns        
            p 
              img(src="/images/icon-singleclick.png", alt="Mouse Scroll")
            h2 Navega
      h1.start
        a.js-start(href="#Comenzar") Comenzar
    
    
    include share.jade
    #search
          input.js-search.u-full-width(type="search", placeholder="Buscar personas, hechos y relaciones")
          .js-result-list.result-list
    #toolbar
      button.js-zoom(data-zoom="1") Zoom +
      button.js-zoom(data-zoom="-1") Zoom -
          
    #graph
    #whatis ?
    #what.popupGraph
      button.close.button Cerrar
      h2 ¿Qué es este sitio?
      .clear
      hr
      p Por 
        strong 
          a(href="https://twitter.com/elloropolitico", target="_blank") @elloropolitico
                
      p Es una representación gráfica mediante un programa de un conjunto de personas, hechos, eventos y relaciones que tuvieron o tienen que ver con el atentado a la Asociación Mutual Israelita Argentina (AMIA), perpetrado el 18 de junio de 1994.
      
      p El caso AMIA, que en el último tiempo ha tomado un nuevo impulso por la muerte del fiscal Alberto Nisman, es un caso complejo con muchos implicados que aparecen una y otra vez a través de los años en diferentes instancias y situaciones.

      p Creemos que una representación gráfica de este complejo y denso mapa de personas, hechos, eventos y relaciones puede contribuir a una mejor comprensión no solo acerca de la oscura trama que subyace en el atentado a la AMIA y su posterior encubrimiento, sino también sobre la muerte de Nisman y su denuncia contra la Presidenta de la Nación y otros funcionarios.

      p La información presentada en el sitio fue tomada principalmente de la Wikipedia (biografías), y de diferentes medios de prensa de la Argentina. Este proyecto es colectivo y ha reunido para su concreción a personas de diferentes disciplinas (informáticos, politólogos, entre otros).  

      p El espíritu de este sitio es colaborativo. Si deseas agregar o rectificar algún nodo o relación por favor no dudes en escribirnos, citando como fuente algún medio de prensa de relevancia. En la medida de lo posible intentaremos incorporar todas las contribuciones.      
      
      p Contacto: 
        a(href="mailto:ellorodelapolitica@gmail.com") ellorodelapolitica@gmail.com
      hr
      p El código fuente de este sitio está disponible para su consulta y/o uso en 
        | un 
        a(href="https://github.com/emilioastarita/amia") repositorio git de acceso público
        |.
      
    #nodeInfoTpl.popupGraph
      button.close.button Cerrar
      h2
        span.title
        |&nbsp;
        span.date
      div.image
        img(src='')
      div.description
      h5.edgesTitle Relaciones:
      div.relations
        div.relation.node-rel(style="display: none;")
          span.node_from.js-link(data-type="node")
            img
            span.name
          span.middle.js-link(data-type="edge")
            span ⇾      
            strong.relTitle
            span ⇾
          span.node_to.js-link(data-type="node")
            img
            span.name      
      h5.sourcesTitle Fuentes:
      div.sources
    #edgeInfoTpl.popupGraph
      button.close.button Cerrar
      h2.title
      div.relation
        span.node_from.js-link(data-type="node")
          img
          span.name
        span.middle.js-link(data-type="edge")
          span ⇾      
          strong.title
          span ⇾
        span.node_to.js-link(data-type="node")
          img
          span.name
      div.description
      h3.sourcesTitle Fuentes:
      div.sources       
